
.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buttons a {
    border: solid 1px green;
    border-radius: 5px;
    color: green;
    font-size: 0.8em;
    padding: 0.75em 3em;
    max-width: 25em;
    text-transform: uppercase;
}

.buttons .buttonGreen {
    background-color: green;
    color: white;
    margin-right: 2em;
}



@media (max-width: 500px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .buttons .buttonGreen {
        margin-right: 0;
    }
}

/* Tablet / Desktop */
@media (min-width: 920px) {
    .buttons {
        align-content: end;
        flex: auto 1;
    }
}