.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 1em;
}

.header {
    color: green;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.description {
    color: #666;
    margin-bottom: 1em;
}

.price {
    color: #444;
    font-size: 1.1rem;
    font-weight: 500;
}

.grid a {
    border: solid 1px green;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px;
}

.grid .buttonGreen {
    background-color: green;
    color: white;
}

/* Mobile */
@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .center::before {
        transform: none;
        height: 300px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}